*{
    box-sizing: border-box;
}

/*@font-face {*/
/*    font-family: 'Abel', sans-serif;*/
/*    src: url("https://fonts.googleapis.com/css2?family=Abel&display=swap")format("TrueType");*/
/*}*/

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e7e7e7 !important;
    font-family: 'Abel', sans-serif !important;
}

.circle{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 300px;
    background-color: #bbb;
    border-radius: 50%;
    text-align: center;

    /*line-height: 0;*/
    /*position: relative;*/
}

.lrg-circle{
    border: 24px solid white;
    color: white;
    font-family: 'Anton', sans-serif;
    font-size: 50px;
}

.top-banner{
    position: relative;
    background-color: white;
    width: 100%;
    margin-top: 140px;
    margin-bottom: 65px;
    height: 170px;
}

.design-logo{
    /*float: top;*/
    position: absolute;
    top: 45px;
    height: 330px;
    z-index: 10;
}

.codeup-title{
    font-size: 70px;
}

.navbar-brand{
    font-size: 26px !important;
    margin-left: .5em;
}

.navbar{
    margin-bottom: 75px;
}

.announcement{
    text-align: center;
    font-size: 70px;
    /*font-weight: 200;*/
    font-family: 'Anton', sans-serif;
    margin: 0 .25em 0 .25em;
}

.mini-announcement{
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    font-weight: 200;
    margin-top: 50px;
}
/*.circle::after {*/
/*    content: "";*/
/*    display: block;*/
/*    padding-bottom: 100%;*/
/*}*/

#top-grid{
    display: flex;
    margin: 0 ;
    padding: 0;
    width: 100%;
}

.container #top-grid{
    height: 800px;
}
.container{
    margin: 0 ;
    padding: 0;
}



.grid-labels{
    width: 10em;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 3em 0 3em 0;
}

.lrg-circle-1{
    /*red*/
    background-color: #dd553b;
}

.lrg-circle-2{
    /*green*/
    background-color: #7aaa6b;
}

.lrg-circle-3{
    /*orange*/
    background-color: #da951b;
}

.lrg-circle-4{
    /*bleu*/
    background-color: #0aa5a5;
}
.selected-work{
    font-family: 'Abel', sans-serif;
    font-size: 40px;
    margin-top: 250px;
    margin-bottom: 75px;
}

.row{
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}
.row-2{
    display: flex;
    flex-direction: row;
}

.lower-circle{
    display: flex;
}

.row-2 .circle{
    height: 100px;
    width: 100px;
}

/*.container .row{*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*}*/

.grid1-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
}
#footer{
    display: flex;
    justify-self: flex-start;
    margin: 0;
    padding: 0;
    width: 100%;
}

#foot-row{
    width: 100%;
}

.ipad{
    border: 20px solid lightgrey;
    border-radius: 4%;
}

/*.text-container {*/
/*    !*position: absolute;*!*/
/*    bottom: 50%;*/
/*    width: 100%;*/
/*    !*text-align: center;*!*/
/*    margin: 0;*/
/*}*/