*{
    box-sizing: border-box;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e7e7e7 !important;
    font-family: 'Abel', sans-serif !important;
}

.top-banner{
    position: relative;
    background-color: white;
    width: 100%;
    margin-top: 140px;
    margin-bottom: 65px;
    height: 85px;
}

.design-logo{
    /*float: top;*/
    position: absolute;
    top: 90px;
    height: 175px;
    z-index: 10;
}

.codeup-title{
    font-size: 70px;
}

.navbar-brand{
    font-size: 14px !important;
    margin-left: .5em;
}

.navbar{
    margin-bottom: 75px;
}

.announcement{
    text-align: center;
    font-size: 55px;
    /*font-weight: 200;*/
    font-family: 'Anton', sans-serif;
    margin: 0 .25em 0 .25em;
}

.mini-announcement{
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    font-weight: 200;
    margin-top: 35px;
}

#top-grid{
    /*height: px;*/
    display: flex;
    justify-content: center;
    padding: 0 !important;
    width: 100%;
    margin-top: 25px;
}

.circle{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 175px;
    width: 175px;
    background-color: #bbb;
    border-radius: 50%;
    text-align: center;

}
.grid-labels .lrg-circle{
    border: 8px solid white;
    color: white;
    font-family: 'Anton', sans-serif;
    font-size: 25px;
    margin: 0;
}

.row .grid1-container{
    padding: 0 !important;
}

.grid-labels{
    margin: .5em .5em;
}

.circle-color-1{
    /*red*/
    background-color: #dd553b;
}

.circle-color-2{
    /*green*/
    background-color: #7aaa6b;
}

.circle-color-3{
    /*orange*/
    background-color: #da951b;
}

.circle-color-4{
    /*bleu*/
    background-color: #0aa5a5;
}
.selected-work{
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    margin-top: 125px;
    margin-bottom: 38px;
}

.ipad-pic{
    height: 275px;
    border: 10px solid lightgrey;
    border-radius: 2%;
}

.featured-product{
    font-size: 20px;
}

.row-2{
    display: flex;
    flex-direction: row;
}

#foot-row{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin: 0px 30px 100px 30px;
    width: 100%;
}

.row-2 .circle{
    height: 30px;
    width: 30px;
    margin: .5em;
    /*padding: 0 .5em;*/
}
.sm-cir-font{
    font-family: 'Anton', sans-serif;
    font-size: 15px;
    font-weight: bolder;
}
.bottom{
    padding-right: 0 !important;
    padding-left: 0 !important;
}

#footer{
    display: flex;
    justify-self: flex-start;
    margin: 0;
    padding: 0;
    width: 100%;
}



